.example-card {
  max-width: 400px;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.mat-card-content p {
  width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card_price {
  color: green;
}
