<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ product.name }}</mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    [src]="'http://localhost:1337' + product.picture[0].url"
    [alt]="product.name + ' picture'"
    height="200px"
  />
  <mat-card-content>
    <p>
      {{ product.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-stroked-button href="https://www.google.com/" target="_blank"
      >+ to cart</a
    >
    <a mat-stroked-button href="https://www.google.com/" target="_blank"
      >See details</a
    >
  </mat-card-actions>
</mat-card>
